/* Create Study Group */

body{
  position: relative;
  width: 1440px;
  height: 973px;
  background: #DAB49D;
}

/* C08552 */
.panel{
  box-sizing: border-box;
  position: absolute;
  width: 737px;
  height: 759px;
  left: 283px;
  top: 208px;
  background: #C08552;
  mix-blend-mode: normal;
  border: 3px solid #000000;
}

.bottompanel{
  box-sizing: border-box;
  position: absolute;
  width: 735px;
  height: 223px;
  left: 285px;
  top: 750px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: center;   
  color: #DAB49D;
  background: #5E3023;
  border: 1px solid #000000;
}

.groupName{
  box-sizing: border-box; 
  background: #895737;
  border: 2px solid #DAB49D;
  position: absolute;
  width: 650px;
  height: 74px;
  left: 332px;
  top: 551px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: center;   
  color: #DAB49D;      
}

.description{
  box-sizing: border-box;


  background: #895737;
  border: 2px solid #DAB49D; 
  position: absolute;
  width: 650px;
  height: 68px;
  left: 332px;
  top: 648px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #DAB49D;
}

/*nav bar*/
.navbar {
  width: 100%;
  background-color: #895737;
  overflow: hidden;
}
  
.navbar a {
  float: right;
  width: 20%;
  text-align: center;
  padding: 20 px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  position: center;
}

.navbar a:hover {
  background-color: #5E3023;
  position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: right;
}

li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.addGrouppic{
  position: absolute;
  width: 156.21px;
  height: 151.08px;
  left: 578.64px;
  top: 303.76px;
  text-align: center;
  font-size:150px;
  color: bisque;
}

.bottompanel .search-container {
  float: right;
}

.bottompanel input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.bottompanel .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.bottompanel .search-container button:hover {
  background: #ccc;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.thatlist li{
  float: right;

}


.container{
  width: 50%;
  min-height: 50vh;
  padding: 0.3;
  background-position:center ;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}

.saveLogo{
  position: relative;
  height: 80px;
  width: 80px;
  left: 555px;
  top: 1632px;
  border-radius: 0px;
  background: url(saveButton.png);
}

.photoAdder{
  box-sizing: border-box;
  position: absolute;
  width: 620px;
  height: 182px;
  left: 332px;
  top: 291px;
  background: #FFFFFF;
  border: 6px solid #5E3023;
}

.saveButton{
  box-sizing: border-box;
  position: absolute;
  width: 170px;
  height: 170px;
  left: 1187px;
  top: 820px;
  background: #5E3023;
  border: 1px solid #DAB49D;
  border-radius: 50%;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  overflow-x: auto;
  height: 300px;
}

#myUL option {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
   /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
 
  
}

#myUL option:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#user-l {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: auto;
  height: 300px;
}

#user-l li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
   /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: inline; /* Make it into a block element to fill the whole list */
 
  
}

#user-l option:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.user-container{
	background-color: #895737;
	width: 465px;
	height: 225px;
	right: 690px;
	bottom: 1px;
	border: none;
	opacity: 0.6;
	position: absolute;
	display: none;
}


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #895737;
  color: white;
  box-shadow: 1px 2px black;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  bottom: 140px;
  right: 1px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 155px;
  border: 3px solid #f1f1f1;
  z-index: 9;
 
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  
  padding: 10px;
  background-color: white;
  
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #895737;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 75%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}