body {
    background: linear-gradient(to right, #5e3023, #f9ca24);
    margin-top: 20px;
  }
  
  /*nav bar*/
  .navbar {
    width: 100%;
    background-color: #895737;
    overflow: hidden;
  }
  
  .fixtxt {
    text-align: right;
  }
  
  .navbar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background-color: #5e3023;
  }
  
/*   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  .card {
    background: #fff;
    transition: 0.5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: 0.55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  
  .chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    
    background-color: #f6d1b9;
    padding: 20px;
    z-index: 7;
  }
  
  .chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea;
  }
  
  .people-list {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
  }
  
  .people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer;
  }
  
  .people-list .chat-list li.active {
    background: #efefef;
  }
  
  .people-list .chat-list li .name {
    font-size: 15px;
  }
  
  .people-list .chat-list img {
    width: 45px;
    border-radius: 50%;
  }
  
  .people-list img {
    float: left;
    border-radius: 50%;
  }
  
  .people-list .about {
    float: left;
    padding-left: 8px;
  }
  
  .people-list .status {
    color: #999;
    font-size: 13px;
  }
  
  .chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6;
  }
  
  .chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
  }
  
  .chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
  }
  
  .chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
  }
  
  .chat .chat-history ul {
    padding: 0;
  }
  
  .chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px;
  }
  
  .chat .chat-history ul li:last-child {
    margin-bottom: 0px;
  }
  
  .chat .chat-history .message-data {
    margin-bottom: 15px;
  }
  
  .chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px;
  }
  
  