
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
}


/* Create Study Group */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@400;900&family=Roboto:wght@400;900&display=swap");

body{
    background: linear-gradient(to right, #5e3023, #f9ca24);
    overflow-x: hidden;
    box-sizing: border-box;
    }
    
    /* C08552 */
    .panel{
    box-sizing: border-box;
    
    position: absolute;
    width: 737px;
    height: 759px;
    left: 283px;
    top: 208px;
    background: #C08552;
    mix-blend-mode: normal;
    border: 3px solid #000000;
    }
    
    .bottompanel{
    box-sizing: border-box;
    
    position: absolute;
    width: 735px;
    height: 223px;
    left: 285px;
    top: 750px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: center;   
    color: #DAB49D;
    background: #5E3023;
    border: 1px solid #000000;
    }
    
    .groupName{
    box-sizing: border-box;
        
    background: #895737;
    border: 2px solid #DAB49D;
    position: absolute;
    width: 650px;
    height: 74px;
    left: 332px;
    top: 551px;
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: center;   
    color: #DAB49D;      
    }
    
    .description{
    box-sizing: border-box;
    
    
    background: #895737;
    border: 2px solid #DAB49D; 
    position: absolute;
    width: 650px;
    height: 68px;
    left: 332px;
    top: 648px;
        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #DAB49D;
      
    }
    

/*nav bar*/
.navbar {
  width: 100%;
  background-color: #613e28;
  overflow: hidden;
}

.fixtxt {
  text-align: right;
}

.navbar a {
  float: right;
  width: 20%;
  text-align: center;
  padding: 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #5e3023;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

    .addGrouppic{
        position: absolute;
        width: 156.21px;
        height: 151.08px;
        left: 578.64px;
        top: 303.76px;
        text-align: center;
        font-size:150px;
        color: bisque;
      }
      
      .bottompanel .search-container {
        float: right;
      }
      
      .bottompanel input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
      }
      
      .bottompanel .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      
      .bottompanel .search-container button:hover {
        background: #ccc;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li{
        float: right;
      }
      
      li a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .container{
        background: #fff;
        width: 950px;
        height: 620px;
        margin: 0 auto;
        position: relative;
        margin-top: 5%;
        box-shadow: 2px 5px 20px rgba(119,119,.5);
      }
      .leftbox{
        float: left;
        top: -15px;
        right: 70%;
        position: absolute;
        width: 20%;
        height: 110%;
        background: #dab49d;
        box-shadow: 3px 3px 10px 
        rgba(119,119,119,.5);
        border: .1em solid #fff;
        
    }
    
    .btn{
      width: 180px;
      height: 92px;
      
      border: none;
      margin-bottom: 20px;
      margin-left: 10px;
      font-size: 25px;
      border-radius: 300px;
      cursor: pointer;
      border: .1em solid #fff;
    background: #C08552;
  
    }
    .btn:focus{
      outline: none;
    }  
  .btn:hover{
    text-decoration:#000000;
    font-weight: 900;
}
h2{
    width:fit-content;
    height: 50px;
    color:#5E3023;
    border: none;
    margin-bottom: 60px;
    margin-left: 60px;
    font-size: 20px;
    border-radius:auto;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    
    border: 10;
    background-color: white;

  }



      



   


  
