@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@400;900&family=Roboto:wght@400;900&display=swap");

body{
    background: linear-gradient(to right, #5e3023, #f9ca24);
    overflow-x: hidden;
    box-sizing: border-box;
    }

.loginBox{
    box-sizing: border-box;

    position: absolute;
    width: 882px;
    height: 882px;
    left: 224px;
    top: 71px;
    
    background: transparent;
    border: 3px solid #000000;
}

.userTextBox{
    box-sizing: border-box;

    position: absolute;
    width: 740px;
    height: 60px;
    left: 300px;
    top: 409px;

    background: #895737;
    border: 3px solid #DAB49D;
}


.passTextBox{
    box-sizing: border-box;

    position: absolute;
    width: 740px;
    height: 60px;
    left: 300px;
    top: 600px;
    
    background: #895737;
    border: 3px solid #DAB49D;
}

.forgotUserText{
    position: absolute;
    width: 586px;
    height: 69px;
    left: 372px;
    top: 507px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 61px;
    text-align: center;
    
    color: #FFFFFF;
}

.forgotPassText{
    position: absolute;
    width: 586px;
    height: 69px;
    left: 367px;
    top: 695px;
    
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 61px;
    text-align: center;
    
    color: #FFFFFF;
}

.saveButton{
    box-sizing: border-box;

    position:absolute;
    width: 170px;
    height: 170px;
    left: 800px;
    top: 770px;

    background: #895737;
    border: 1px solid #DAB49D;
    border-radius: 50%;
}

.saveButtonText{
    position: absolute;
    width: 89px;
    height: 80px;
    left: 1228px;
    top: 852px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #DAB49D;
}

.logoCircle{
    box-sizing: border-box;

    position: absolute;
    width: 327px;
    height: 305px;
    left: 502px;
    top: 76px;

    background: #F3E9DC;
    border: 5px solid #5E3023;
    border-radius: 50%;
}

.sbLogo{
    box-sizing: border-box;

    position: absolute;
    width: 393px;
    height: 345px;
    left: 469px;
    top: 56px;
    
    background: url(StuddyBuddyLogo.png);
}

.saveLogo{
    position: relative;
    height: 80px;
    width: 80px;
    left: 555px;
    top: 1632px;
    border-radius: 0px;
    background: url(saveButton.png);

}

.googleSignup{
    background-color: transparent; 
    position: bottom;
  bottom: -4px;
  border: none;
  color: black;
  padding: 15px 32px;
  width: 1350px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Roboto", sans-serif;
}
.container {
    height: 50px;
    position: bottom;
    bottom: -4px;
    border: 3px solid green;
}
.vertical-center {
    margin: 0;
    position: bottom;
  bottom: -4px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }