



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@400;900&family=Roboto:wght@400;900&display=swap");

body{
    background: linear-gradient(to right, #5e3023, #f9ca24);
    overflow-x: hidden;
    box-sizing: border-box;
    }
    
    .container{
        background: #fff;
        width: 540px;
        height: 420px;
        margin: 0 auto;
        position: relative;
        margin-top: 10%;
        box-shadow: 2px 5px 20px rgba(119,119,.5);
    }
    .leftbox{
        float: left;
        top: -5%;
        left: 5%;
        position: absolute;
        width: 15%;
        height: 110%;
        background: #dab49d;
        box-shadow: 3px 3px 10px 
        rgba(119,119,119,.5);
        border: .1em solid #fff;
        
    }
    
    nav a{
           list-style: none;
           padding: 35px;
           color: #fff;
           font-size: 1.1em;
           display: block;
           transition: all .3s ease-in-out;

    }
           
        nav a:hover{
            color: #c08552;
            cursor: pointer;
            transform: scale(1.2);

        }

        nav a:first-child{
            margin-top: 7px;

        }

        nav a.active{
            color: #10ac84;
        }

        .rightbox{
            float: right;
            width: 60%;
          
            height: 100%;


        }

        .profile{
            position: absolute;
            width: 70%;
        
        }

        h1{
            font-family: "Montserrat", sans-serif;
            color: #5e3023;
            font-size: 1em;
            margin-top: 40px;
            margin-bottom: 35px;
        }

        h2{
            color: #777;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            font-size: 8px;
            width: 80%;
            letter-spacing: 1px;
            margin-left: 2px;
           
        }
        p {
          
            border-bottom: 1px solid #5e3023;
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient(to right, #5e3023, rgba(126, 211, 134, 0.5)) 1 0%;
            border-top: 0;
            width: 80%;
            font-family: Montserrat, sans-serif;
            font-size: .7em;
            padding: 7px 0;
            color: #070707;
            outline: none;

        }
        
       
        
     
        .input, p {
           
            border-bottom: 1px solid #3fb6a8;
            border-width: 1px;
            border-style: solid;
            border-image: linear-gradient(to right, #3fb6a8, rgba(126, 211, 134, 0.5)) 0%;
            border-top: 0;
            font-family: Montserrat, sans-serif;
            font-size: .7em;
            padding: 7px 0;
            color: #070707;
            outline: none;

        }

        span{
            font-size: .7em;
            color: #777;

        }

        .btn{
            float: right;
            font-family: "roboto",sans-serif;
            text-transform: uppercase;
            font-size: 15px;
            border: none;
            color: #5e3023;
            


        }

        
        

        .btn:hover{
            text-decoration: underline;
            font-weight: 900;
        }


       