*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: #895737;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 5px;
}
/*nav bar*/
.navbar {
    width: 100%;
    background-color: #895737;
    overflow: hidden;
}
      
.navbar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    position: center;
}
    
.navbar a:hover {
    background-color: #5E3023;
    position: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li{
    float: right;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Tooltip container */
.tooltip {
  position: absolute;
  top: 10px;
  right: 100px;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  left: 100px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}