*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppons', sans-serif;
}

body{
    background: linear-gradient(to right, #5e3023, #f9ca24);
    overflow-x: hidden;
    box-sizing: border-box;
    }
.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: #895737;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 5px;
}

/*nav bar*/
.navbar {
    width: 100%;
    background-color: #895737;
    overflow: hidden;
}
      
.navbar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    position: center;
}
    
.navbar a:hover {
    background-color: #5E3023;
    position: center;
}

 .Search-bar{
    width: 60%;
    max-width: 400px;
    background-color: #5E3023;
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 40px;
    backdrop-filter: blur(4px) saturate(180%);
}

.Search-bar input{
    background:transparent;
    flex: 1;
    bottom: 0;
    outline:none;
    padding: 10px 20px;
    font-size: 20px;
    color: #cac7ff;

}

 ::placeholder{
    color: #cac7ff;
}

.Search-bar button img{
    width: 50px;
    height: 50px;
}

.Search-bar button{
    border: 20;
    border-radius: 60%;
    width: 60%;
    height: 60%;
    background: #C08552;
    cursor: pointer;
}

.eat{
    width: 100%;
    min-height: 100vh;
    padding: 4%;
    background-color: #DAB49D;
    background-position: center;
    background-size:cover;
    display:flex;
    border-style: double;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li{
    float: right;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Tooltip container */
.tooltip {
  position: relative;
  
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
 position: relative;
 right: 1000px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext {
  top: 15px;
  right: 250px;
}
.boxcontainer{
    background: #fff;
    width: 950px;
    height: 620px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(119,119,.5);
  }
  h2{
    color: #777;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    width: 80%;
    letter-spacing: 3px;
    padding-left: 50px;

  }
h1{
    color: #777;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    width: 80%;
    letter-spacing: 3px;
    padding-left: 50px;

}
.rightbox{
    float: right;
    top: -8%;
    right: -10%;
    padding-left: 5%;
    margin:auto;
    position: absolute;
    width: 35%;
    height: 120%;
    background: #dab49d;
    box-shadow: 3px 3px 10px 
    rgba(119,119,119,.5);
    border: .1em solid #fff;
    
}
img{
    size: 100px;
    position:right;
}
h3{

        color: #5E3023;
        font-family: sans-serif;
        font-weight:bold;
        font-size: 20px;
        width: 80%;
        letter-spacing: 3px;
        margin-left: 2px;

        
}
h4{

    color: #000000;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    width: 80%;
    letter-spacing: 3px;
    margin-left: 2px;

}
h5{
    color: black;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    width: 80%;
    letter-spacing: 3px;
    margin-left: 2px;
  }
  img {
    height:500px;
    width: 500px;
  }
  