body{
    background: linear-gradient(to right, #5e3023, #f9ca24);
    overflow-x: hidden;
    box-sizing: border-box;
    }
    /*nav bar*/
.navbar {
    width: 100%;
    background-color: #895737;
    overflow: hidden;
    }
      
.fixtxt{
  text-align: right;
}
    .navbar a {
    float: right;
    width: 20%;
    text-align: center;
    padding: 20 px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    position: center;
    }
    
    .navbar a:hover {
    background-color: #5E3023;
    position: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      li{
        float: right;
      }
      
      li a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .container{
        background: #fff;
        width: 740px;
        height: 620px;
        margin: 0 auto;
        position: relative;
        margin-top: 10%;
        box-shadow: 2px 5px 20px rgba(119,119,.5);
      }
      h2{
        color: #777;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 8px;
        width: 80%;
        letter-spacing: 1px;
        margin-left: 2px;
      }
      p a{
        
        border-bottom: 1px solid #5e3023;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to right, #5e3023, rgba(126, 211, 134, 0.5)) 1 0%;
        border-top: 0;
        width: 80%;
        font-family: Montserrat, sans-serif;
        font-size: .9em;
        padding: 7px 0;
        color: #070707;
        outline: none;

    }
    .input, p {
           
        border-bottom: 1px solid #3fb6a8;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to right, #3fb6a8, rgba(126, 211, 134, 0.5)) 0%;
        border-top: 0;
        font-family: Montserrat, sans-serif;
        font-size: .7em;
        padding: 7px 0;
        color: #070707;
        outline: none;

    }
    .rightbox{
        float: right;
        width: 60%;
      
        height: 100%;


    }

    .profile{
        position: absolute;
        width: 70%;
    
    }
    .leftbox{
        float: left;
        top: -5%;
        left: 5%;
        position: absolute;
        width: 15%;
        height: 110%;
        background: #dab49d;
        box-shadow: 3px 3px 10px 
        rgba(119,119,119,.5);
        border: .1em solid #fff;
        
    }

