<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="/static/createGroup.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="navbar">
            <a class="active" href="#"><i class="fa fa-home"></i></a> 
            <a href="#"><i class="fa fa-save"></i></a> 
            <a href="#"><i class="fa fa-gear"></i></a>
          </div>
        <div class="panel"></div>
        <div class="bottompanel"></div>
        <div class="groupName">Group Name</div>
        <div class="description">Description</div>
    </body>
</html>


