<!DOCTYPE html>
<html>
<head>
<title>Groupchat</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<link rel="stylesheet" href="/static/groupchats.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


</head>
<body>
{% include 'header.html' %}

<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <ul id="card" class="list-unstyled chat-list mt-2 mb-0">
                 
                </ul>
				
            </div>
			
                <iframe id= "iframe" height="100%" width="100%" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" >
					 </iframe> 
           
            
        </div>
    </div>
</div>
</div>

 <script>
	//Loads userchats and user 
	const res = JSON.parse('{{results | tojson}}');
	const user= JSON.parse('{{user | tojson}}');
	let tempMessages;
	
	
	//Gets event target and returns
	function getEventTarget(e) {
		e = e || window.event;
		return e.target || e.srcElement; 
	}
 
	//Creates index for user chats
	var selected= 0;
	
	//Creates variable for chatbox list
	let chatbox= document.getElementById('card')
	let time;
	
	function changeUpdateTime(item){
		time = item;
		return time;
	}
	//Returns current chat id
	function getIndexOfChat() {
	let target = getEventTarget(event);
	let li = target.closest('li'); // get reference by using closest
	let nodes = Array.from( li.closest('ul').children ); // get array
	let index = nodes.indexOf( li ); 
	selected= index;
	return selected;
	};
	 
	//When page loads below function creates chats for users and updates messages should their be 
	//newer messages.
  $(document).ready(function() {
	  const ul = document.querySelector("#card");
	  time= res[res.length-1].timestamp;
	  for(let i=0; i < res.length; i++){
	  
	  const item = createItemTemplate(res[i]);
	  
	  ul.appendChild(item);
	  }
	
	  });
	
   //This creates the chat templates
  function createItemTemplate(item) {
  
  const li= document.createElement("li");
  li.classList.add('clearfix');
  const img= document.createElement("img");
  img.style= "width:50px";
  img.src= "/static/uploads/" + item.photo;
  const div = document.createElement("div");
  div.classList.add('about');
  const name= document.createElement("p");
  const node= document.createTextNode(item.name);
  name.appendChild(node);
  li.appendChild(img);
  div.appendChild(name);
  desc= document.createElement("p");
  const n= document.createTextNode(item.description);
  desc.appendChild(n);
  div.appendChild(desc);
  li.appendChild(div);	
  li.addEventListener('click', (event) => {
		document.getElementById("iframe").style.display= "block";
		document.getElementById("iframe").src= "/chatload?gid=" + item._id
		
		});
  return li;
}

  </script>

</body>
</html>
