<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/static/createGroup.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="navbar">
        <a class="active" href="#"><a href="/home"><i class="fa fa-home"></a></i></a> 
        <a href="#"><i class="fa fa-save"></i></a> 
        <a href="#"><a href="/settings"><i class="fa fa-gear"></a></i></a>
      </div>
<h1>existing GROUP CHATS</h1>
<p>This is a paragraph.</p>
<p><a href="/signUp">Go to signup</a></p>
<p><a href="/login">Go to login</a></p>
<p><a href="/currentConvo">Convo</a></p>
<p><a href="/settings">Go to Setting</a></p>
<p><a href="/createGroup">create Convo</a></p>
<p><a href="/home">create Convo</a></p>

</body>
</html>
