<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/home.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>home</title>
</head>
<body>
  <div class="navbar">
    <ul class="thatlist">
    <li><a href="/home"><i class="fa fa-home"></a></i></a></li>
    <li><a href="#"><i class="fa fa-save"></i></a></li></li>

    <li><a href="/settings"><i class="fa fa-gear"></a></i></a></li>
    <li><a href="/search"><i class="fa fa-search"></a></i></a></li>
    </ul>
    </div>


    

  

    <!--<h1>home</h1> -->
   <h2> Welcome {{user}} </h2>
   
<center>
    <div class="container">
      <center><ul class="form"> 
        
      <center>
      </br>
      
        <li> <a href ="/signUp" class=btn> Go to signup</a></li>
        <li> <a href ="/login" class=btn> Go to login</a></li>
        <li> <a href ="/currentConvo" class=btn> Go to currentConvo</a></li>
       <li> <a href ="/settings" class=btn> Go to settings</a></li>
        <li> <a href ="/createGroup" class=btn> Go to createGroup</a></li>
      </center>
      </ul></center>
      </div>

    </center>

    
