<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<!-- Addidng all the pretty element classes -->
<div class="logoCircle"></div>

<div class="firstBackSeg"></div>
<div class="secBackSeg"></div>
<div class="newUserImage"></div>
<div class="oldUserImage"></div>
<div class="middleLogo"></div>

<div class="makeAccButton"></div>
<div class="innerTextLeft">
    <p><a href="/signUp"> Make Account </a></p>
</div>

<div class="oldUserSigninButton"></div>
<div class="innerTextRight">
    <p><a href="/login"> Sign-in </a></p>
</div>


<!-- Going to different pages needed for page integration -->

<p><a href="/currentConvo">Convo</a></p>
<p><a href="/settings">Go to Setting</a></p>
<p><a href="/createGroup">create Convo</a></p>
<p><a href="/home">HOME</a></p>
<p><a href="/existingGroups">EXISTING GROUPS</a></p>

</body>
</html>
