<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section class="one">
        <h1>Welcome to Study Buddy</h1>
    </section> 

    <section class="two">
        <div class="logoCircle"></div>
        <div class="sbLogo"></div>
        <div class="firstBackSeg"></div>
        <div class="secBackSeg"></div>
        <div class="newUserImage"></div>
        <div class="oldUserImage"></div>
        <div class="makeAccButton"></div>

        <div class="innerTextLeft">
            <p><a href="/signUp"> Make Account </a></p>
        </div>

        <div class="oldUserSigninButton"></div>

        <div class="innerTextRight">
            <p><a href="/login"> Sign-in </a></p>
        </div>
    </section>

<!-- Going to different pages needed for page integration -->


</body>
</html>
