<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<link rel="stylesheet" href="/static/loading.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script>
  function navigate() {
        window.location.href = 'chat';  // Redirects user to the /map route when 'create_map' is finished
    }
    fetch('chat').then(navigate); 
	const tip= Math.floor(Math.random()* 5);
	 $(window).ready(function() {
		switch(tip){
		 case 0:
			document.getElementById('randomtip').innerHTML= "A little nap aint never hurt nobody!";
			break;
		case 1:
			document.getElementById('randomtip').innerHTML= "You deserve a coffee break :)";
			break;	
		case 2:
			document.getElementById('randomtip').innerHTML= "Free virtual hugs with your consent of course";
			break;
		case 3:
			document.getElementById('randomtip').innerHTML= "Never stop believing in yourself!";
			break;
		default:
			document.getElementById('randomtip').innerHTML= "In the meantime... drink plenty of water!";
			break;
		}
		
			
	 });
</script>
 <meta charset="UTF-8">
  <title>Loading</title>
</head>
<body>
	<h1 style= "text-align: center; color: white; drop-shadow: 2px 2px 2px"> Loading your groupchats and messages </h1>
	<h3 style= "text-align: center; color:white" id= "randomtip"> In the meantime... drink plenty of water! </h3>
	<img class= "loader"  src= "/static/coffeegif.gif"></img>

</body>
</html>