<!DOCTYPE html>
<html>
    <head> <link rel="stylesheet" href="/static/login.css"> </head>
    <body>
        
        <div class="loginBox"></div>
        <div class="userTextBox"></div>
        <div class="passTextBox"></div>
        <div class="forgotUserText"> Forgot Username </div>
        <div class="forgotPassText"> Forgot Password </div>
        <div class="saveButton"></div>
        <div class="saveButtonText"> Done </div>
        <div class="saveLogo"></div>
        <div class="logoCircle"></div>
        <div class="sbLogo"></div>
    </body>
</html>



