<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> User Settings Page</title>
        <link rel="stylesheet" href="setting.css">
        <link rel="stylesheet"
    href="fontawesome/css/all.css">


    </head>
    <body>

        <div class="containers">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)"
                    class"tab active">
                    <i class="fa fa-user"></i>
                </a>

                <a onclick="tabs(1)"
                    class"tab">
                    <i class="fa fa-credit-card"></i>
                </a>

                <a onclick="tabs(2)"
                    class"tab">
                    <i class="fa fa-tv"></i>
                </a>


                <a onclick="tabs(3)"
                    class"tab">
                    <i class="fa fa-tasks"></i>
                </a>


                <a onclick="tabs(4)"
                    class"tab">
                    <i class="fa fa-cog"></i>
                </a>

            </nav>
        </div>
        <div class="rightbox">
           <div class="profile.tabShow">
            <h1>Personal Info</h1>
            <h2> Full Name</h2>
            <input type="text"
            class"input" value="Siaw Sam">

            <h2>birthday</h2>
            <input type="text"
            class"input" value"April 11 1999">

            <h2> Gender</h2>
            <input type="text"
            class"input" value"Male">

            <h2> Email/h2>
            <input type="text"
            class="input"
            value="Siawsam@gmail.com">

            <h2> Password</h2>
            <input type="password"
            class="input"
            value="Siawam">

            <button
            class="btn> Update</button>
        </div> 
        <div class="payment tabShow">
             <h1>payment Info</h1>
             <h2> payment method</h2>
             <input type="text"
             class"input" 
             value="MasterCard - 0303 *** ** 4345">
 
             <h2>Billing Address</h2>
             <input type="text"
             class"input" value"1234 some town">
 
             <h2> Zipcode</h2>
             <input type="text"
             class"input" value"12334">
 
             <h2> Billing Date/h2>
             <input type="text"
             class="input"
             value="Jan 12, 2027">
 
             <h2> Redeem card</h2>
             <input type="password"
             class="input"
             value="Enter Gift card">
 
             <button
             class="btn> Update</button>
         </div> 
         <div class="subscription tabShow">
            
             <h1>Personal Info</h1>
             <h2> Full Name</h2>
             <input type="text"
             class"input" value="Siaw Sam">
 
             <h2>birthday</h2>
             <input type="text"
             class"input" value"April 11 1999">
 
             <h2> Gender</h2>
             <input type="text"
             class"input" value"Male">
 
             <h2> Email/h2>
             <input type="text"
             class="input"
             value="Siawsam@gmail.com">
 
             <h2> Password</h2>
             <input type="password"
             class="input"
             value="Siawam">
 
             <button
             class="btn> Update</button>
         </div> 



    </div>
</div>




            











        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>

        </script>
        <script>

        </script>

    </body>
    </html>




