
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> User Settings Page</title>
        <link rel="stylesheet" href="static/profile.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


    </head>
    <body>

        <div class="container">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)"
                    class"tab active">
                    <i class="fa fa-user"></i>
                </a>

                <a onclick="tabs(1)"
                    class"tab">
                    <i class="fa fa-credit-card"></i>
                </a>

                <a onclick="tabs(2)"
                    class"tab">
                    <i class="fa fa-tv"></i>
                </a>


                <a onclick="tabs(3)"
                    class"tab">
                    <i class="fa fa-tasks"></i>
                </a>


                <a onclick="tabs(4)"
                    class"tab">
                    <i class="fa fa-cog"></i>
                </a>

            </nav>
        </div>
        <div class="rightbox">
           <div class="profile">
            <h1>Personal Info</h1>
            <h2> Full Name</h2>
            <p><input type="text"class"input" value=""><buttom class="btn">update</button>
            <h2>Birthday</h2>
            <p><input type="text"class"input" value"Sep 11 1999"></p>
            <h2>Gender<h/>
            <p><input type="text"class"input" value"Male"></p>
            <h2>Email</h2>
            <p><input type="text"class"input"value="Siawsam@gmail.com"><button class="btn">update</button></p>
            <h2>Password</h2>
            <p><input type="password" class"input" value="ssss" id="myInput"><button class="btn">Change</button></p>
            <p><input type="checkbox" onclick="myFunction()">>Show Password </p>

            <script>
                function myFunction(){
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    
                    }
                    else{
                        x.type = "password"
        
                    }
                }
            </script>

          
            </div>
            
        </div>
        
    </div>

           
    </body>
    </html>








