<html>
<head>
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar">
        <ul>
        <li><a href="/home"><i class="fa fa-home"></a></i></li>
        <li><a href="#"><i class="fa fa-save"></i></a></li>
        <li><a href="/settings"><i class="fa fa-gear"></a></i></li>
		<br>
		<form action="/search1" method="GET">
		<li><button 
		 type="submit" style="background-color#cac7ff" class="fa fa-search" href="/search"></button></li>
		
		<li>
		<div class= "tooltip">
		<span class="tooltiptext"> 
			Search Options: For users 'user : [username]'
			For groups 'group: [groupname]'
			Groups by description 'gdesc : [keywords]'
		</span>
		<input placeholder= "search anything" style= "background-color: #5E3023;
		border-radius: 60px; padding: 5px 30px; backdrop-filter: blur(4px) saturate(180%);" 
		type="search1" id="form1" class="form-control" name= "query"/>
		</div>
		</li>
       
		</form>
		</ul>
		
    </div>      

</body>
</html>