<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/signUp.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
<style>
  .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #FFFFFF;
      font-family: 'Inter';
      opacity: 5; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #FFFFFF;
      font-family: 'Inter';
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #FFFFFF;
      font-family: 'Inter';
 }

</style>
<title>Sign Up</title>
<script type="text/javascript">
		
		window.onload = function() {
		
		  var alarm= '{{ alarm }}';
		  
	      if( alarm == "1" ){
			alert("Email or Username already exists! Please try again.");
		  }
		}
		</script>
</head>
<body>

<form name="signUp_form"method = "POST", action="/signUp">
  <label for="name" required></label>
  <input type="name"style= "background: rgb(114, 69, 36); border: none;" name="name" class="form-control form-control-lg" placeholder="username" required>
  <p class ="text-danger help-block"></p>


  <label for="birthday" required></label>
  <input type="date"style= "background: rgb(114, 69, 36); color:white; border: none;" name="birthday"class="form-control form-control-lg" placeholder="birthday" required>


  <label for="password" required></label>
  <input type="text"style= "background:rgb(114, 69, 36); border: none;" name="password"class="form-control form-control-lg" placeholder="password" required>



  <label for="email" required></label>
  <input type="email" name="email" style= "background: rgb(114, 69, 36); border: none;"class="form-control form-control-lg"placeholder="email" required>
  <p class = "error error--hidden"></p>
<input type="submit"style= "background: transparent; border: none;color:white;" value="Sign Up!" class="saveButton">
</form>
<br>
<br>
<div class="'container">
  <div class="vertical-center">
<a href="{{ url_for('google_login') }}" class="googleSignup">
  <img src="static\google-icon-logo-png-transparent.png" width="40"height='40'> Sign up with Google 
</a>
</div>
</div>
</body>
</html>