<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Sign Up</title>
</head>
<body>
<div class="bodySign">
  
</div class="save"></div>
</div>
<div class = "proPic"><span>&#43;</span>
</div>
<div class="userBox">Username</div>
<div class="bday">Birthday</div>
<div class="sPass">Password</div>
<div class="email">Email</div>
<div class="saveCircle">
    <i class="fa fa-save"style="font-size:80px;color:#DAB49D;position:absolute"></i></div>

</body>
</html>