<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Sign Up</title>
</head>
<body>
   <div class="navbar">
            <a class="active" href="#"><a href="/login"><i class="fa fa-home"></a></i></a> 
            <a href="#"><i class="fa fa-save"></i></a> 
            <a href="#"><a href="/login"><i class="fa fa-gear"></a></i></a>
          </div>
<div class = "proPic">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>
<div class="userBox">Username</div>
<div class="bday">Birthday</div>
<div class="sPass">Password</div>
<div class="email">Email</div>


</body>
</html>